# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Introduction
- Popular Languages in Data Science
- Commonly used Libraries in Data Science
- Creating table in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335